/* @import "tailwindcss"; */


.global-text {
  color: red;
}

.active-link {
  color: red !important;
}

.pending-link {
  color: green !important;
}

.my-text {
  font-family: var(--font-roboto);
}

.my-local-text {
  font-family: var(--font-sunshine);
}